* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-self: center;
}

.App {
  width: 800px;
}

.post__content {
  display: flex;
  justify-content: space-between;
}
